/* Import Fonts and stuff */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.data-grid{
  font-family: 'Rubik Bubbles', Helvetica, cursive;
}
#main-data{
  font-family: Arial, Helvetica, sans-serif;
}

footer{
  font-family: Arial, Helvetica, sans-serif;
}
header{
  font-family: 'Permanent Marker', Arial, cursive;
}

/*Layout Stuff*/

:root {
    --header-color: #38368D;
    --header-text-color: #7A79BB;
    --subhead-color: #2C5684;
    --subhead-text-color: #6D8DB0;
    --card-color: #2C5684;
    --card-text-color: #c0cedd;
    --footer-color: #38368D;
    --footer-text-color: #a4a4d0;
    --footer-link-color: #4d90d3;
    --footer-hover-color: #dc8cff;
    --button-color: #083E7B;
    --button-text-color: #0D7AF3;
}

*{
  box-sizing: border-box;
}



body{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  
  /* stuff for background animation */
  background: linear-gradient(0deg, #2777ba,#6fc2ec,#a9ccda,#4a94d8,#2777ba);
  background-size: 200% 200%;
  animation: gradient-animation 32s ease infinite;
  /* position: relative; */
  /* background-position: 100%; */
  /* background-size: 500% 500%; */
  
  
/*Left number x, right number y. Default is x = y*/
}

header{
  background-color: var(--header-color);
  color: var(--header-text-color);
  width: 100%;
  height: min(6rem, 15vw);
  font-size: min(4rem, 10vw);
  text-align: center;
  
}

#toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; 
  height: fit-content;
  padding: 20px;
  width: 100%;
  background-color: var(--subhead-color);
  color: var(--subhead-text-color);
}

#searchbar{
  width: 60%;
  display: flex;
  align-items: center;
}

#searchbar-feild{
 width: 70%;
 height: 2.5rem;
 font-size: 2rem;
  border-radius: 10px;
}

#submit-location{
  border: 2px solid var(--button-text-color);
  color: var(--button-text-color); 
  background-color: var(--button-color);
  cursor: pointer;
  height: 2.5rem;
  font-size: 2rem;
  border-radius: 10px;
}
#submit-location:hover{
  filter: brightness(150%);
}

#toggle-buttons{
  display: flex; 
  justify-content: space-between;
  width: 30%;
}

.toggle-button{
  border-radius: 88px;
  height: 45px;
  width: 45px;
  font-size: 2rem;
  text-align: center;
  border: 2px solid var(--button-text-color);
  color: var(--button-text-color); 
  background-color: var(--button-color);
  cursor: pointer;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.toggle-button:hover{
  filter: brightness(150%);
}


#content{
  width: 90%;
  height: fit-content;
  margin: 40px auto;
  
}

#main-data{
  background-color: var(--card-color);
  
  
  height: fit-content;
  margin-top: 20px;
  width: 100%;
  display: flex; 
  flex-direction: column;
  gap: 15px;
  
  
  

box-shadow: 0px 0px 33px 4px rgba(255,255,255,0.55);
}

.location-and-time{
  background-color: var(--card-color);
  color: var(--card-text-color);
  
  
  height: fit-content;
  width: 100%;
  text-align: center;
/*Responsive font size*/
  font-size: clamp(1.5rem, -0.875rem + 8.333vw, 2.5rem);
}

.temp-and-image{

  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  height: 60%;
}

.temperature{
  color: var(--card-text-color);
  font-size: 6rem;
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.temp-and-image > img{
  border-radius: 100px;
  height: 150px;
  width: 150px;
  margin: auto 0;
}

.description{
  font-size: clamp(1rem, -0.8rem + 8vw, 2rem);
  color: var(--card-text-color);
  text-align: center; 
  margin: auto;
}

.data-grid{
  margin: 40px auto 80px auto;
/*   margin-bottom:35px; */
  width: 100%;
  display: grid;
  gap: 25px;
  grid-row-gap:80px;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-card{
/*   color: var(--card-text-color); */
/*   background-color: var(--card-color); */
  max-height: 100px;
  min-height: 100px;
  max-width: 40vw;
  min-width: 200px;
  position: relative;
  
  
  border-radius: 10px;
  font-size: max(2vw, 14px);
  font-size: clamp(0.9rem, -0.1rem + 2vw, 1.5rem);
  
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 1340px;
}

.cloud-img{

  width: 140%;
  max-width: 400px;
  height: 160px;
  position: relative;
  object-position: 50% 50%;
  object-fit: cover;
  margin-top: -15px;
}

.card-head{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  
  
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-head > img{
  display: inline;
  height: 3vw;
  max-height:45px;
  width: 3vw;
  max-width: 45px;
}

.grid-card > .card-data{
  position: absolute;
  top: 60%;
  left: 50%;
  margin-top: 15px;
  transform: translate(-50%, -50%);
}



#content{
  position: relative;
}
footer{
  width: 100%;
  height: fit-content;
  background-color: var(--footer-color);
  color: var(--footer-text-color);
  margin-top: 40px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  
  
}

footer h4{
  margin: 0;
}

a{
  color: var(--footer-link-color);
}
a:hover{
  color: var(--footer-hover-color);
}





/* Responsive Design Stuff */
@media (max-width: 720px){
 
  #toolbar{
    display: flex; 
    flex-direction: column;
    height: fit-content;
    gap: 5px;
    margin-bottom: 20px;
  }
  #searchbar{
    display: flex; 
    flex-direction: column;
    width: 80%;
    
  }
  
  #searchbar-feild{
    height: 2.5rem;
    font-size: 2rem;
    width: 100%;
  }
  #submit-location{
    width: 100%;
  }
  #toggle-buttons{
    margin-top: 10px;
  }
  .toggle-button{
    height: 30px;
    width: 30px;
    font-size: 1.5rem;
  }
  
  .data-grid{
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-row-gap: 60px;
    margin: 40px auto 80px auto;
  }
  body{
    height: fit-content;
  }
  
  .grid-card{
    min-height: 100px;
    min-width: 200px;
    max-width: 300px;
    max-height: 100px;
  }
  #content{
    height: fit-content;
  }
  .temperature{
    font-size: 4rem;
  }
  .temp-and-image > img{
  border-radius: 100px;
  height: 100px;
  width: 100px;
  margin: auto 0;
}
  .grid-card > .card-data{
    margin-top: 10px;
  }
  .cloud-img{
    height: 160px;
  }

  footer{
    position: static;
  }
  
  
}

@media (max-width: 480px) {
  
  .data-grid{
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 80px;
    margin: 40px auto 80px auto;
    
  }
  
  .grid-card{
    overflow: visible;
    min-height: 100px;
    min-width: 200px;
    max-width: 100%;
    max-height: 100px;
    font-size: max(4vw, 14px);
  }
  
  body{
    height: fit-content;
    
  }
  #content{
    height: fit-content;
  }
  
  .temperature{
    font-size: 3rem;
  }
  .temp-and-image > img{
  border-radius: 100px;
  height: 50px;
  width: 50px;
  margin: auto 0;
  }
  .temp-and-image{
    margin: 20px 0px;
  }
  .grid-card > .card-data{
    margin-top: 5px;
  }
  .cloud-img{
    height: 190px;
  }
  .card-head{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -5%);
}

.grid-card > .card-data{
  position: absolute;
  top: 60%;
  left: 50%;
  margin-top: 15px;
  transform: translate(-50%, -5%);
}
  .card-head > img{
  display: inline;
  min-height: 20px;
  min-width: 20px;
}
  
  
}

/*Dynamic user feedback stuff*/

#toggle-buttons > .active{
-webkit-box-shadow:0px 0px 17px 8px rgba(123,177,235,0.67);
-moz-box-shadow: 0px 0px 17px 8px rgba(123,177,235,0.67);
box-shadow: 0px 0px 17px 8px rgba(123,177,235,0.67);
}

/* Animation for background */


@keyframes gradient-animation {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}